 body {
      background-color: #11daf5;
      font-family: Segoe print;
      padding: 20px;
      color: #333;
    }

    h1 {
      color: white;
    }

    ul {
      background-color: white;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,1);
      width: 300px;
    }
	button {
		display: inline-block;
      color: white;
      background-color: #0077cc;
      padding: 7px 7px;
      border-radius: 7px;
      text-decoration: none;
	  box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    button:hover {
      background-color: #005fa3;
	  box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    img {
      border-radius: 10px;
      margin-top: 5px;
	  box-shadow: 0 0 10px rgba(0,0,0,1);
    }

    a {
      display: inline-block;
      margin-top: 10px;
      color: white;
      background-color: #0077cc;
      padding: 10px 15px;
      border-radius: 5px;
      text-decoration: none;
	  box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    a:hover {
      background-color: #005fa3;
	  box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
	.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  ul {
    width: auto;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
  }
}